{% extends 'base.html' %}

{% block body %}
{% load static %}


<!-- Start slides -->
<div id="slides" class="cover-slides">
    <ul class="slides-container">


        {% for slider in imageslider %}
        <li class="text-center">
            <img src="{{ slider.image.url  }}" alt="Image">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>{{ slider.title }}</strong></h1>
                        <p class="m-b-40">{{ slider.description }}</p>
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}



    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End slides -->


{% endblock %}