{% extends 'base.html' %}

{% block body %}
{% load static %}



<!-- Start All Pages -->
<div class="all-page-title page-breadcrumb">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Special Menu</h1>
            </div>
        </div>
    </div>
</div>
<!-- End All Pages -->

<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Special Menu</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <button class="active" data-filter="*">All</button>
                        <button data-filter=".drinks">Drinks</button>
                        <button data-filter=".lunch">Lunch</button>
                        <button data-filter=".dinner">Dinner</button>
                    </div>
                </div>
            </div>
        </div>
            
        <div class="row special-list">
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="images/img-01.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Drinks 1</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $7.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="images/img-02.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Drinks 2</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $9.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid drinks">
                <div class="gallery-single fix">
                    <img src="images/img-03.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Drinks 3</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $10.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="images/img-04.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Lunch 1</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $15.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="images/img-05.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Lunch 2</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $18.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid lunch">
                <div class="gallery-single fix">
                    <img src="images/img-06.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Lunch 3</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $20.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="images/img-07.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Dinner 1</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $25.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="images/img-08.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Dinner 2</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $22.79</h5>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 special-grid dinner">
                <div class="gallery-single fix">
                    <img src="images/img-09.jpg" class="img-fluid" alt="Image">
                    <div class="why-text">
                        <h4>Special Dinner 3</h4>
                        <p>Sed id magna vitae eros sagittis euismod.</p>
                        <h5> $24.79</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End Menu -->





{% endblock %}